
<!--
	Author: Anthony John Ripa
	Date:	4/10/2020
	Demo for Newton: An A.I. for Math
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Newton</title>
		<meta charset="utf-8" />
		<script src='../js/jquery.js'></script><script>window.jQuery || document.write("<script src='https://code.jquery.com/jquery-latest.js'><" + "/script>")</script>
		<script src='../js/math3.js'></script><script>window.math || document.write("<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.18.0/math.min.js'><" + "/script>")</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.6/jsxgraphcore.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
		<script src="transform.js"></script>
		<script src="untransform.js"></script>	<!--	2020.2	Added	-->
		<script src="matrix.js"></script>		<!--	2018.9	Added	-->
		<script src="fit.js"></script>			<!--	2019.8	Added	-->
		<script src="newton.js"></script>
		<script src="plot.js"></script>
		<script src='../js/vue.js'></script><script>window.Vue || document.write("<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js'><" + "/script>")</script>	<!--	2019.6	Added	-->
		<script>
			function go() {			//	2019.12	Added
				[vm.pointss, vm.exprsimp, vm.totalsimp] = simplify();
			}
			function validate() {	//	2019.12	Added
				return simplify()[1][vm.selected] == vm.exprsimp[vm.selected];
			}
			//function go() {		//	2019.12	Removed
			function simplify() {	//	2019.12	Added
				var input;
				input = $('#inp').val() || '0';
				vm.d = math.max(Newton.getvars(input).length,1) + 1;														//	2018.12
				if (vm.d==3 && vm.trans!=0) { alert('Error : Attempting to transform a 3D graph.') ; return }				//	2018.12
				vm.expr = input.split('|')[0];
				vm.constant = input.split('|')[1];
				if (vm.constant && vm.trans!=0) { alert('Error : Attempting to transform a point evaluation.') ; return }	//	2019.3
				//[vm.pointss, vm.exprsimp, vm.totalsimp] = Newton.simplify(input);	//	2019.12	Removed
				return Newton.simplify(input);										//	2019.12	Added
				//render();		//	2019.5	Added
			}
			function render() {	//	2019.5	Added
				var exprsimp, totalsimp;
				exprsimp = vm.exprsimp[vm.selected];						//	2019.5	Added
				totalsimp = (vm.totalsimp||vm.exprsimp)[vm.selected];		//	2019.5	Added
				$('#td2').toggle(vm.trans==1);
				if (vm.d == 2) plot1(vm.pointss.orig); else plot13(vm.pointss.orig, vm.expr);
				if (vm.d == 2) plot2(vm.pointss.tran); else plot23(vm.pointss.orig, vm.expr);
				if (vm.d == 2) plot3(exprsimp); else plot33(exprsimp);
				if (vm.d == 2) plot4(exprsimp, vm.constant, totalsimp); else plot43(exprsimp, vm.constant, totalsimp);
				if (vm.d == 2) plot5(vm.trans, exprsimp);	//	2020.2	Added
			}
			function plot1(points) {
				Plot.plot(points, 'graph1');
			}
			function plot13(points, title) {
				//$('#title1').html(title);	//	2019.5	Removed
				var vars = Plot.getvars(title);
				Plot.plot3(points, 'graph1', { xLabel: vars[0] || 'x', yLabel: vars[1] || 'y' });
			}
			function plot2(points) {
				//$('#title2').html(title);	//	2019.5	Removed
				Plot.plot(points, 'graph2');
			}
			function plot23(points, title) {
				//$('#title2').html(title);	//	2019.5	Removed
				var vars = Plot.getvars(title);
				Plot.plot3(points, 'graph2', { xLabel: vars[0] || 'x', yLabel: vars[1] || 'y' });
			}
			function plot3(expr) {
				if (expr === undefined) { var s = "index.plot3 Arg is undefined" ; alert(s) ; throw new Error(s) }	//	2018.8
				Plot.graph(expr, 'graph3');
				//$('#title3').html(expr);	//	2019.5	Removed
			}
			function plot33(expr) {
				var vars = Plot.getvars(expr);
				Plot.graph3(expr, 'graph3', { style: 'surface', xLabel: vars[0] || 'x', yLabel: vars[1] || 'y' });
				//$('#title3').html(expr);	//	2019.5	Removed
			}
			function plot33s(expr) {
				Plot.graph3s(expr, 'graph3', { style: 'surface' });
				//$('#title3').html(expr);	//	2019.5	Removed
			}
			function plot4(expr, x, y) {
				if (x) {
					$('#td4').show();
					$('#tv').show();
					$('#title4').html(expr + '|' + x);
					var board = Plot.graph(expr, 'graph4');
					if (x) board.create('point', [x, y], { name: '', size: .1 });
					$('#tv').html(y);
				} else {
					$('#td4').hide();
					$('#tv').hide();
				}
			}
			function plot43(expr, x, totalsimp) {
				if (x) {
					$('#td4').show();
					$('#tv').show();
					$('#title4').html(expr + '|' + x);
					$('#tv').html(totalsimp);
					var vars = Plot.getvars(expr);
					var data = Plot.graph3(totalsimp, 'graph4', { style: 'line', yMin: -5, yMax: 5, xLabel: vars[0], yLabel: vars[1] });
					$('#tv').html(totalsimp);
				} else {
					$('#td4').hide();
					$('#tv').hide();
				}
			}
			function plot43s(expr, x, totalsimp) {alert()
				if (x) {
					$('#td4').show();
					$('#tv').show();
					$('#title4').html(expr + '|' + x);
					$('#tv').html(totalsimp);
					var data = Plot.graph3s(totalsimp, 'graph4', { style: 'line', yMin: -5, yMax: 5 });
					$('#tv').html(totalsimp);
				} else {
					$('#td4').hide();
					$('#tv').hide();
				}
			}
			function plot5(trans, totalsimp) {	//	2020.2	Added
				if (trans>0) {
					$('#td5').show();
					$('#td5').html(untransform(totalsimp));
				} else {
					$('#td5').hide();
				}
			}
		</script>
	</head>
	<body>
		<center id='app'>
			<h1>Newton</h1>
			<table border="1">
				<tr>
					<td>
						<input type='radio' value='0' id='ut' v-model='trans' onclick='vm.size=40'><label for='ut'>Untransformed</label><br>
						<input type='radio' value='1' id='it' v-model='trans' v-on:click='size=300'><label for='it'>Integral Transform</label><br>
						<input type='radio' value='2' id='dt' v-model='trans' @click='size=4'><label for='dt'>Differential Transform</label><br> <!-- 2018.11 Dif -->
						<br>
						<center><button onclick="go()">Go</button>
						<button v-show="exprsimp.length" onclick="alert('Simplification is '+(validate()?'':'in')+'valid')">Validate</button>	<!-- 2019.12 Added	-->
						</center><br>
						<input id='inp' placeholder="Type or Click Dropdown" style="position:absolute;width:140px" value='0'>	<!--	2018.8	width for linux firefox -->
						<select onchange="$('#inp').val($(this).val())" style="height:23px;width:190px">	<!--	2018.6	width for linux firefox -->
							<option disabled>Choose a option or type</option>
							<optgroup label="0 Variable">
								<option selected>0</option>
								<option>1</option>
								<option>2</option>
								<option>12/8</option>
							</optgroup>
							<optgroup label="1 Variable">
								<option>x</option>
								<option>x/x</option>
								<option>(x^2-1)/(x-1)</option>
								<option>(x-1)/(x^2-1)</option>
								<option>2+h</option>
								<option>(2+h)^2</option>
								<option>(2+h)^2-2^2</option>
								<option>((2+h)^2-2^2)/h</option>
								<option>((2+h)^2-2^2)/h|0</option>
							</optgroup>
							<optgroup label="2 Variable">
								<option>x+h</option>
								<option>(x+h)^2</option>
								<option>(x+h)^2-x^2</option>
								<option>((x+h)^2-x^2)/h</option>
								<option>((x+h)^2-x^2)/h|0</option>
							</optgroup>
							<optgroup label="Exponential">
								<option>2.718^-x</option>
								<option>sin(x)</option>
								<option>cos(x)</option>
								<option>sinh(x)</option>
								<option>cosh(x)</option>
							</optgroup>
						</select><br>
						<br>
						<input type='range' min='1' max='9' step='1' v-model='range' title='Complexity'><span title='Complexity'>{{range}}</span><br>
						<br>
					</td>
					<td width="120px">
						<!--<div id="title1" style="text-align:center"></div>	2019.5	Removed-->
						<div style="text-align:center" v-html='expr'></div>
					</td>
					<td>
						<div id="graph1" style="border:thin solid black; width:400px; height:400px"></div>
					</td>
					<td id="td2" style="display:none">
						<div id="graph2" style="border:thin solid black; width:400px; height:400px"></div>
					</td>
					<td>
						<div id="graph3" style="border:thin solid black; width:400px; height:400px"></div>
					</td>
					<td width="160px">
						<!--<div id="title3" style="text-align:center"></div>	2019.5	Removed-->
						<details>
							<summary v-html='exprsimp[selected]'></summary>
							<select v-if='exprsimp.length>1' v-model="selected" size='9'>
								<option v-for='(exp,i) in exprsimp' :value='i' :title="['poly01','laurent21','laurent25','rational0_0','rational0_1','rational1_0','rational1_01H','rational1_02H','sparse'][i]">{{exp}}</option>
							</select>
						</details>
					</td>
					<td id="td4" style="display:none">
						<div id="title4" style="text-align:center">.</div>
						<div id="graph4" style="border:thin solid black; width:400px; height:400px"></div>
					</td>
					<td style="text-align:center;display:none" id="tv" width="100px">
					</td>
					<td id="td5" style="text-align:center;display:none" width="200px">	<!--	2020.2	Added	-->
					</td>
				</tr>
			</table>
		</center>
		<script>
			vm = new Vue({
				el: '#app',
				//data: { trans: 0, size: 40, range: 4, expr: '', exprsimp: [], selected: '0' },	//	2020.3	Removed
				//data: { trans: 0, size: 40, range: 9, expr: '', exprsimp: [], selected: '0' },	//	2020.3	Added	//	-2020.4
				data: { trans: 0, size: 40, range: 5, expr: '', exprsimp: [], selected: '0' },		//	+2020.4
				watch: { exprsimp: render, selected: render }	//	2019.5	Added
			});
		</script>
	</body>
</html>
